.article_box {
  padding-top: 0;
}
.article h1 {
  margin-bottom: 2rem;
}

.article h2 {
  margin-bottom: 1.5rem;
  margin-top: 3.5rem;
}

.article p {
  margin: 1.5rem 0;
}

.article li {
  margin: 1.2rem 0;
}

.blockquote--padding {
  padding: 1rem 1.2rem;
  border-radius: 0.5rem;
}

.article figure {
  margin: 2rem 0;
}

.article figcaption {
  margin-top: 1rem;
}

.article img {
  border-radius: 0.5rem;
}
