.info_project {
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
}

.project_data h2 {
  padding-bottom: 20px;
}

.project_data p {
  padding-bottom: 40px;
}

.project_image {
  height: 327px;
  width: 384px;
}

.project_image figure img {
  float: right;
}

.how_built_content h2,
.team_content h2 {
  padding-bottom: 1rem;
}

.how_built_content p,
.team_content p {
  padding-bottom: 48px;
}

.proyect-button {
  max-width: 174px;
}

.box_svg {
  width: 48px;
  height: 48px;
  border-radius: 6px;
  background-color: var(--white);
}

.box_svg #vector_icon {
  padding: 16px 12px;
}

.box_svg #ruby_icon {
  padding: 14px;
}

.box_svg #github_icon {
  padding: 13px 12px;
}

.box_svg svg {
  width: 100%;
  height: 100%;
  fill: var(--text-black);
}

.built-data,
.team-data {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
}

.team-data h3 {
  padding: 8px;
}

.user_links {
  display: flex;
  padding-left: 8px;
  gap: 22px;
}

.built-data h3 {
  padding-top: 20px;
  padding-bottom: 8px;
}

#github_icon_user {
  width: 19.38px;
  height: 18.89px;
  fill: var(--gray-500);
}

#linkedin_icon_user {
  width: 18px;
  height: 18px;
  fill: var(--gray-500);
}

@media only screen and (max-width: 430px) {
  .info_project {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
  }
  .project_image {
    width: 95%;
    margin: auto;
  }
}
