.sections {
  height: 100vh;
  display: grid;
  grid-template: 50px 2fr 4fr 1fr / 1fr;
  grid-template-areas:
    "nav"
    "intro"
    "articles"
    "helpes";
}

.sections__nav {
  grid-area: nav;
}

.sections__intro {
  grid-area: intro;
  background-color: var(--stone-300);
}

.sections__articles {
  grid-area: articles;
  display: grid;
  grid-template: 100px 1fr;
  grid-template-areas:
    "articles_intro"
    "acticles_posts";
}

.sections__articles__articles_intro {
  text-align: center;
  grid-area: articles_intro;
}

.sections__articles__acticles_posts {
  grid-area: acticles_posts;
}

.sections__articles h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 120%;
}

.sections__articles p {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}

.sections__helpes {
  grid-area: helpes;
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  font-size: 48px;
  line-height: 120%;
  height: 100%vh;
  background-color: var(--stone-300);
}

.section-md {
  margin: 15px 0;
  margin-bottom: 0;
  padding: 30px 0;
}
