.input_default {
  color: var(--gray-900);
  width: 100%;
  padding: 0.5rem 0.75rem;
  border-radius: 0.375rem;
  border: 0.0625rem solid var(--gray-700);
  background-color: var(--white);
}

.input::placeholder {
  color: var(--gray-500);
  font-weight: 300;
}

.input_default:focus,
.input_default:focus,
.radio_input:focus,
.checkbox_input:focus {
  outline: 0.1875rem solid var(--info);
}

.input_default:invalid {
  border: 0.0625rem solid var(--error);
  color: var(--error);
}

.input_default--icon {
  width: 100%;
  position: relative;
}

.input_default_icon {
  position: absolute;
  top: 50%;
  transform: translate(0, -45%);
  z-index: 1;
  color: var(--gray-500);
  pointer-events: none;
  left: 0.75rem;
}

.input_default_content {
  position: relative;
  padding-inline-start: 2rem;
  padding-inline-end: 0.75rem;
}

.input_default--error {
  border: 0.0625rem solid var(--error);
}

.input_message,
.select_message {
  display: block;
  margin: 0.25rem 0;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  font-weight: 400;
  text-transform: capitalize;
}

.input_message--help,
.select_message--help {
  color: var(--gray-500);
}

.input_message--error,
.select_message--error {
  color: var(--error);
}

.select {
  color: var(--gray-700);
  width: 100%;
  padding: 0.5rem 0.75rem;
  border-radius: 0.375rem;
  background-color: var(--white);
  border: 0.0625rem solid var(--gray-700);
  cursor: pointer;
  padding-right: 2.5rem;
  appearance: none;
  background-image: url(../images/Icon-selectors.svg);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: calc(100% - 0.75rem);
}

.select--error {
  border: 0.0625rem solid var(--error);
}

.radio,
.checkbox {
  display: flex;
  gap: 0.5rem;
  align-items: baseline;
  cursor: pointer;
}

.radio_input,
.checkbox_input {
  width: 1rem;
  height: 1rem;
  margin: 0.125rem;
  appearance: none;
  border: 0.0625rem solid var(--gray-700);
  border-radius: 50%;
}

.checkbox_input {
  border-radius: 0.25rem;
}

.radio_input:checked {
  border: 0.25rem solid var(--primary);
}

.radio_message,
.checkbox_message {
  display: block;
  color: var(--gray-500);
}

.radio-group,
.checkbox-group {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
}

.radio-group--vertical,
.checkbox-group--vertical {
  flex-direction: column;
}

.checkbox_input:checked {
  background-color: var(--primary);
  border: 0.0625rem solid var(--primary);
  background-image: url(../images/Icon-selectors-check.svg);
  background-repeat: no-repeat;
  background-position: center;
}
